.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  transform: scale(1.1);
  visibility: hidden;
  opacity: 0;

  transition: opacity $trans--modal, transform $trans--modal, visibility $trans--modal;

  pointer-events: none;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__wrapper {
    transform: translateZ(0);
    background-color: rgba($color-default-black, 0.6);
    position: relative;

    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    padding: 60px 40px;

    @include vp--767 {
      padding: 60px 16px;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    cursor: pointer;
  }

  &__content {
    position: relative;

    width: 600px;
    padding: 40px;

    background-color: $color-default-white;

    @include vp--767 {
      width: 100%;
      padding: 20px;
    }
  }

  &__close-btn {
    position: absolute;
    top: 15px;
    right: 15px;

    padding: 0;

    background: $color-transparent;
    border: none;
    cursor: pointer;

    // Стили только для компонентов в проекте удалите их

    background: $color-blue;
    min-width: auto;
    padding: 5px;

    //--------------------------------------

    svg {
      display: block;
    }
  }

  &--preload {
    transition: none;
  }

  &.is-active {
    transform: scale(1);
    visibility: visible;
    opacity: 1;
    transition: opacity $trans--modal, transform $trans--modal;

    pointer-events: auto;
  }

  iframe {
    max-width: 100%;
    border: none;
  }
}
