section.component-description(data-tabs='element')
  p Во избежание багов на iphone, связанных с воспроизведением фонового видео, мы используем библиотеку #[a(href="https://github.com/fregante/iphone-inline-video", target="_blank", rel="nofollow noopener noreferrer") iphone-inline-video]
  p Вам достаточно добавить её в папку vendor и импортировать в файл vendor.js
  p Пример видеофайла с необходимыми атрибутами:
  pre
    code.language-html.
      &lt;video preload="auto" autoplay muted playsinline loop src="video.mp4">&lt;/video>

  p Пример инициализации
  pre
    code.language-js.
      import './iphone-inline-video';

      window.addEventListener('DOMContentLoaded', () => {
        window.addEventListener('load', () => {
          const videos = document.querySelectorAll('video');
          videos.forEach((video) => window.enableInlineVideo(video));
        });
      });
