section.component-heading
  .component-heading__head
    h1.title Корректировка года
    .component-heading__tabs
      button.component-heading__tab-control(type='button', data-tabs='control') Описание
      button.component-heading__tab-control(type='button', data-tabs='control') Демо
  a.component-heading__download-link.btn(href="zip-components/cookies.zip", download) Скачать компонент
