section.component-description(data-tabs='element')
  p Данный компонент создан для изменения в вёрстке года на текущий.
  p Дата берётся из системы.
  p Элементу, в котором должен отображаться год, нужно добавить дата атрибут #[b data-year].
