section.component-heading.component-heading--not-demo
  .component-heading__head
    h2.title Микроразметка Schema
  +article-menu({
    firstPoint: "Что такое Schema?",
    links: [
      {
        href: "#introduction",
        text: "Что такое Schema?"
      },
      {
        href: "#why",
        text: "Зачем нужна микроразметка Schema?"
      },
      {
        href: "#essence",
        text: "Сущности"
      },
      {
        href: "#example",
        text: "Как размечать контент с помощью микроданных"
      },
      {
        href: "#check",
        text: "Проверка валидности"
      }
    ]
  })
