section.component-description(data-tabs='element')
  p В объекте #[b wordEndings] по ключам лежат склонения слов в зависимости от числа с которым используется данное слово. В объекте приведены два примера, вы можете расширять его в зависимости от нужд проекта
