section.component-description
  h2.subtitle Описание
  p В обьекте wordEndings по ключам лежат склонения слов в зависимости от числа с которым используется данное слово. В обьекте приведены два примера, вы можете расширять его в зависимости от нужд проекта

