section.component-heading.component-heading--not-demo
  .component-heading__head
    h2.title Скейлинг
  +article-menu({
    firstPoint: "Введение",
    links: [
      {
        href: "#introduction",
        text: "Введение"
      },
      {
        href: "#settings",
        text: "Настройка"
      },
      {
        href: "#result",
        text: "Результат"
      },
      {
        href: "#check",
        text: "Проверь себя"
      },
      {
        href: "#size",
        text: "Запись размеров"
      },
      {
        href: "#icons",
        text: "Проблема иконок"
      },
    ]
  })
