extends ../components/base/layout

block variables
  - const title = "Лига решений. Табы" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const currentUrl = "adaptive-runner.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks
  - const pageType = "component"
  - const pageJs = "js/adaptiveRunner.min.js"

block main
  main
    +content({
      title: "Компоненты",
      links: [
        {
          title: "Главная",
          link: "index.html"
        },
        {
          title: "Компоненты",
          link: "components.html"
        },
        {
          title: "Адаптивный бегунок",
        }
      ]
    })
      +adaptive-runner()
block modals
