extends ../components/base/layout

block variables
  - const title = "Компоненты" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const currentUrl = "components.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main.content
    +hero({
      title: "Компоненты"
    })
    .content__wrapper
      +navbar()
      .content__inner

block modals
