extends ../components/base/layout

block variables
  - const title = "Лига решений. Файлы необходимые для поддержки на проекте ie" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const currentUrl = "ie-support.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks
  - const pageType = "component"
  // - const pageJs = "js/navigationChanger.min.js"

block main
  main
    +content({
      title: "Компоненты",
      links: [
        {
          title: "Главная",
          link: "index.html"
        },
        {
          title: "Компоненты",
          link: "components.html"
        },
        {
          title: "Файлы необходимые для поддержки на проекте ie",
        }
      ]
    })
      +ie-support()
block modals
