extends ../components/base/layout

block variables
  - const title = "Список страниц"

block main
  style.
    .container {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    h1 {
      font-size: 24px;
      line-height: 28px;
    }

    a {
      color: rgb(10, 10, 175);
    }

    li {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 7px;
    }

    img {
      width: 100%;
      max-width: 300px;
      height: auto;
      display: block;
      margin-bottom: 40px;
    }

    @media (max-width: 768px) {
      .container {
        padding-top: 20px;
        padding-bottom: 20px;
      }

      ol {
        padding-left: 20px;
      }

      ol li {
        margin-bottom: 15px;
      }
    }

  -
    const pages = [
      {
        name: "Главная index.html",
        src: "index.html"
      },
      {
        name: "Компоненты — components.html",
        src: "components.html"
      },
      {
        name: "Валидация формы — components.html",
        src: "form-validate.html"
      },
      {
        name: "Кастомный селект — custom-select.html",
        src: "custom-select.html"
      },
      {
        name: "Скейлинг — scaling.html",
        src: "scaling.html"
      },
      {
        name: "Автоизменение высоты textarea — auto-resize-textarea.html",
        src: "auto-resize-textarea.html"
      },
      {
        name: "Легковесная телефонная маска — phone-mask.html",
        src: "phone-mask.html"
      },
      {
        name: "Cookie — cookies.html",
        src: "cookies.html"
      },
      {
        name: "Табы — tabs.html",
        src: "tabs.html"
      },
      {
        name: "Аккордеон — accordion.html",
        src: "accordion.html"
      },
      {
        name: "Склонение слов — incline-word.html",
        src: "incline-word.html"
      },
      {
        name: "Модальные окна — modals.html",
        src: "modals.html"
      },
      {
        name: "Блокировка фокуса — focus-lock.html",
        src: "focus-lock.html"
      },
      {
        name: "Блокировка скрола — scroll-lock.html",
        src: "scroll-lock.html"
      },
      {
        name: "Прогресс скрола — scroll-translator.html",
        src: "scroll-translator.html"
      },
      {
        name: "Подсветка пунктов навигации при скроле — navigation-changer.html",
        src: "navigation-changer.html"
      },
      {
        name: "Файлы необходимые для поддержки на проекте ie — ie-support.html",
        src: "ie-support.html"
      },
      {
        name: "Отправка данных формы на почту — send-mail.html",
        src: "send-mail.html"
      },
      {
        name: "Шаблонизатор PUG — pug.html",
        src: "pug.html"
      },
      {
        name: "Фоновое видео — inline-video.html",
        src: "inline-video.html"
      },
      {
        name: "Динамический адаптив — dynamic-adaptive.html",
        src: "dynamic-adaptive.html"
      }
    ]
  header.header(class=headerMods)
    .container
      .header__content
        if(currentUrl === "/index")
          span.header__logo.link
            +icon("icon-logo", "258", "28")
        else
          a.header__logo.link(href="index", aria-label="Переход на главную")
            +icon("icon-logo", "258", "28")
  main
    .container
      div
      h1 Список страниц
      ol
        each page in pages
          li
            a(href= page.src)= page.name
