section.component-description(data-tabs='element')
  h2.subtitle Что такое микроразметка?
  p Микроразметка – это разметка страницы с тегами, атрибуты в которых содержат дополнительную информацию о сайте для поисковых систем. Микроразметка нужна прежде всего для для удобства пользователя, поскольку помогает оптимизировать поиск, так как кратко и емко передает содержимое сайта.
  p С коммерческой точки зрения, микроразметка улучшает внешний вид сайта в результатах поиска, дает красивые и структурированные сниппеты. Однако нужно понимать и то, что микроразметка не оказывает непосредственного влияния на позицию в результатах поиска.

  h2.subtitle Open Graph
  p Open Graph – это технология разметки страниц, которая помогает настроить их отображение в социальных сетях при публикации. Он позволяет контролировать превью, которое формируется при публикации ссылки на сайт в социальных сетях, и передавать информацию другим интернет-сервисам.
  p Разметку Open Graph используют Facebook*, Вконтакте, Google+, Twitter, LinkedIn, Pinterest и другие сервисы. В Яндексе Open Graph используется для передачи данных в поиск Яндекса по видео.

  h2.subtitle Зачем нужен Open Graph?
  ul
    li
      p Пользователь увидит релевантный текст и нужное изображение, которое настроит веб-мастер.
    li
      p Сниппет будет выглядеть как пост, который можно разместить в соцсети, а не как ссылка, к которой нужны дополнительное описание и картинка.
    li
      p Оформленное превью выглядит лучше, а значит улучшает поведенческие факторы, приносит больше кликов.
  h2.subtitle Основные метатеги Open Graph
  p Для разметки страницы нужно в раздел &lt;head> добавить дополнительные теги &lt;meta>. Внутри тегов &lt;meta> указываются атрибуты – property и content. В property прописывается свойство, а в content – сам контент: текст заголовка или описания, ссылка на изображение и другая информация для формирования сниппета. :
  ul
    li
      p
        b og:title
        =" "
        | – название материала
    li
      p
        b og:description
        =" "
        | – описание материала, заполнять не обязательно
    li
      p
        b og:image
        =" "
        | – ссылка на картинку, которая должна сопровождать материал
    li
      p
        b og:type
        =" "
        | – тип добавляемого материала, например, «article» – статья, «movie» – кино и т.д.
    li
      p
        b og:url
        =" "
        | – ссылка на саму веб-страницу, которая добавляется в социальную сеть
  p Пример html
  pre
    code.language-html.
      &lt;meta property="og:title" content="Заголовок">
      &lt;meta property="og:image" content="https://site.ru...png">
      &lt;meta property="og:type" content="article">
      &lt;meta property="og:url" content="https://site.ru">
      &lt;meta property="og:description" content="Описание ">
  p Пример pug
  pre
    code.language-pug.
      meta(property="og:title", content="Заголовок")
      meta(property="og:image", content="https://site.ru...png")
      meta(property="og:type", content="article")
      meta(property="og:url", content="https://site.ru")
      meta(property="og:description", content="Описание ")
  p У каждой соцсети есть свои требования к размеру картинок. По-хорошему, под каждую соцсеть нужно готовить отдельное изображение с подходящими размерами. Например, вы публикуете на сайте статью, которую планируете репостить в три соцсети: Твиттер, Фейсбук и ВКонтакте. Для каждой соцсети готовите отдельную картинку. Чтобы каждая соцсеть загрузила именно «свою» картинку, необходимо указать в разметке Open Graph следующие теги:
  ul
    li
      p
        b vk:image
    li
      p
        b fb:image
    li
      p
        b twitter:image

  p Пример html
  pre
    code.language-html.
      &lt;meta property="og:image" content="https://site.ru...png">
      &lt;meta property="twitter:image" content="https://site.ru...png">
      &lt;meta property="vk:image" content="https://site.ru...png">
      &lt;meta property="fb:image" content="https://site.ru...png">
  p Пример pug
  pre
    code.language-pug.
      meta(property="og:image", content="https://site.ru...png")
      meta(property="twitter:image", content="https://site.ru...png")
      meta(property="vk:image", content="https://site.ru...png")
      meta(property="fb:image", content="https://site.ru...png")

  p У свойств og:image, og:video и og:audio есть дополнительные метаданные, которые вы можете указать.
  ul
    li
      p
        b og:image:secure_url
        =" "
        | – альтернативный адрес, который используется на страницах с HTTPS.
    li
      p
        b og:image:type
        =" "
        | – например jpeg или png.
    li
      p
        b og:image:width
        =" "
        | – ширина изображения в пикселях.
    li
      p
        b og:image:height
        =" "
        | – высота изображения в пикселях.
  p
    b Важно помнить то что путь к картинке должен быть абсолютным! Пример: src="https://site.ru...png".
    =" "
    | Изображение может находиться как на вашем сайте так и лежать на стороннем ресурсе.

  h2.subtitle Как внедрить Open Graph на сайте?
  p
    | Добавить Open Graph на сайт можно вручную или автоматически, с помощью генераторов. Например, есть сервис
    =" "
    a(href="https://webcode.tools/generators/open-graph", target="_blank") The Ultimate Open Graph Generator.
    =" "
    | Вам нужно выбрать тип объекта, а затем добавить основные данные: заголовок, URL, изображение. В ответ вы получите код, который необходимо вставить на страницу сайта.

  h2.subtitle Как проверить корректность разметки Open Graph?
  ul
    li
      p
        a(href="https://developers.facebook.com/tools/debug/", target="_blank") Отладчик репостов от Facebook.
        =" "
        | Указываете URL страницы, которой планируете поделиться, и получаете полное описание свойств с предпросмотром.
    li
      p
        a(href="https://webmaster.yandex.ru/tools/microtest/", target="_blank") Валидатор микроразметки от Яндекса.
        =" "
        | Это стандартный валидатор в Яндекс.Вебмастере. Добавляете URL или фрагмент кода, и получаете результат проверки.
  p
    b На запароленном хосте проверить корректность работы с помощью вышепреведённых ресурсов не получиться!
  p
    b Для корректной работы Open Graph сайт должен работать с HTTPS протоколом!
