section.component-demo(data-tabs='element')
  p
    | Для реализации шаринга, мы рекомендуем использовать библиотеку
    =" "
    a(href="https://ellisonleao.github.io/sharer.js/", target="_blank").component-demo__link Sharer.js
    | .
  p Ниже представлено несколько примеров. Полное описание вы можите просмотреть пройдя по ссылке на сайт библиотеки.
  //img(src="img/content/sharing.jpg", width="1300", height="530", alt="Лига решений")
  p
    button(data-sharer="vk", data-url="https://24fortest.ru/").btn Share on VK
  p
    button(data-sharer="telegram", data-url="https://24fortest.ru/").btn Share on Telegram
