section.component-description(data-tabs='element')
  p Форма должна быть обёрнута в html элемент c data атрибутом data-form-validate. Для передачи колбеков при сабмите, успеха и ошибки валидации нужно установить дата атрибут data-callback="callback" с указанием типа колбеков. Примеры находятся в файле callback.js
  p При динамическом добавлении полей в форму, валидация на них будет работать без дополнительной реинициализации. Исключением являются селекты и поля с телефоном
  p
    | Инициализация форм происходит в main.js. Экземпляр класса записывается в глобальную область видимости. Это делается для того что бы вы могли в проекте при необходимости вызвать один изметодов класса Form
    br
    | const form = new Form();
    br
    |form.init();
    br
    | window.form = form;
  p Методы
  table
    tr
      th
        p window.form.reset(form)
      td
        p Сбрасывает форму, для сброса передаётся форма
    tr
      th
        p window.form.initPhoneInput(parent)
      td
        p Инициализирует телефонный инпут, для инициализации передаётся родитель инпута. Необходим при намическом добавлении телефона
    tr
      th
        p window.form.validateForm(form)
      td
        p Валидирует форму, для валидации передаётся форма
    tr
      th
        p window.form.validateFormElement(item, true)
      td
        p Валидирует инпут, для валидации передаётся инпут, второй параметр отвечает за показ сообщения.
  p Для сброса формы нужно использовать button(type="reset") или метод window.form.reset(form) с передачей в него формы
  p Добавлена возмоность валидации на лету. Для этого на родителя инпута нужно повесить дата аттрибут #[b data-on-input-validate]
  p Указания типа валидаци инпута, добавляются на родительский div инпута, если не указать тип то валидироваться инпут не будет! Тип валидации не связан с обязательностью заполнения поля!
  p Что бы поле являлось обязательным для заполнения на него нужно повесить дата аттрибут data-required!
  p Типы валидации представленные в компоненте
  table
    tr
      th
        p data-validate-type="text"
      td
        p Валилируется как обычное текстовое поле, инпуту можно указать minlength ограничение, если оно не указано, то минимальное значение при валидации будет равно 1 символу.
    tr
      th
        p data-validate-type="phone"
      td
        p Валилируется по длине матрици const matrix = `${BASE_COUNTRY_CODE}${BASE_MATRIX}` где BASE_COUNTRY_CODE = "+7", а BASE_MATRIX = "(___) ___ __ __".
        p Вы можите изменить базовый код страны и базовую матрицу поменяв константы в коде, они находятся в самом верху.
    tr
      th
        p data-validate-type="email"
      td
        p Валилируется как обычный email, от 1 символа до @ и от 1 после, затем точка и от 2 до 6 символов после неё
    tr
      th
        p data-validate-type="matrix"
      td
        p Валилируется по длине матрицы. Обязательно указывать матрицу data-matrix="____ ______" и ограничения ввода data-matrix-limitations="digit".
    tr
      th
        p data-validate-type="select"
      td
        p Валилируется на выбор как минимум одного пункта из списка
    tr
      th
        p data-validate-type="checkbox"
      td
        p Валилируется на checked, если чекбокс один то он должен быть чекнут
    tr
      th
        p data-validate-type="toggle-group"
      td
        p Валилируется группа из чекбоксов или радиокнопок на checked хотя бы одного элемента
  p Так же в демо есть дополнительный кастомный тип валидации #[b data-validate-type="custom-example"]. Он создан для примера что бы вы могли понять как добавлять новые типы валидации при необходимости.
  p Ограничения ввода data-limitation="любой из пяти допустимых", добавляются на #[b родительский div инпута]. Вы можете добавить свои собственные ограничения в конструкцию switch case при необходимости
  table
    tr
      th
        p data-limitation="digit"
      td
        p Доступен ввод только цифр
    tr
      th
        p data-limitation="letters"
      td
        p Доступен ввод только букв и пробела
    tr
      th
        p data-limitation="letters-and-digit"
      td
        p Доступен ввод только букв, цифр и пробела
    tr
      th
        p data-limitation="cyrillic"
      td
        p Доступен ввод только кирилицы и пробела
    tr
      th
        p data-limitation="latin"
      td
        p Доступен ввод только латинских букв и пробела
  p Ограничения ввода data-matrix-limitation="любой из пяти допустимых", добавляются на #[b родительский div инпута]. Вы можете добавить свои собственные ограничения в конструкцию switch case при необходимости.
  table
    tr
      th
        p data-matrix-limitation="digit"
      td
        p Доступен ввод только цифр
    tr
      th
        p data-matrix-limitation="letters"
      td
        p Доступен ввод только букв и пробела
    tr
      th
        p data-matrix-limitation="letters-and-digit"
      td
        p Доступен ввод только букв, цифр и пробела
    tr
      th
        p data-matrix-limitation="cyrillic"
      td
        p Доступен ввод только кирилицы и пробела
    tr
      th
        p data-matrix-limitation="latin"
      td
        p Доступен ввод только латинских букв и пробела
  p Ограничения ввода могут добавляться и не на обязательные для заполнения поля форм.
  p Матрица передаётся дата атрибутом #[b data-matrix="__.__.____"] обязательно указывать и второй атрибут #[b data-matrix-limitations="любой из пяти допустимых"]. Нижние подчёркивание в матрице соответствует введённому с клавиатуры символу. То есть вместо нижнего подчёркивания будет вставляться введённый символ.
  table
    tr
      th
        p data-matrix="__.__.____"
      td
        p При вводе мы получим следующий результат 21.02.1982
    tr
      th
        p data-matrix="____ ______"
      td
        p При вводе мы получим следующий результат 4234 234242
    tr
      th
        p data-matrix="__-__-______"
      td
        p При вводе мы получим следующий результат 42-34-234242
  p Сообщения об ошибках и успехе записываются в дата атрибуты
   table
    tr
      th
        p data-message-base="Сообщение"
      td
        p Сообщение, при неуспешной валидации, для пустого поля. В случае отсутствия сообщение выводиться не будет.
    tr
      th
        p data-message-extra="Сообщение"
      td
        p Сообщение, при неуспешной валидации, для поля в котором введено что либо. В случае отсутствия будет выводиться сообщение data-message-base="Сообщение".
    tr
      th
        p data-message-succes="Сообщение"
      td
        p Сообщение, при успешной валидации. В случае отсутствия сообщение выводиться не будет.
