section.component-description(data-tabs='element')
  p Форма должна быть обёрнута в html элемент c data атрибутом data-validate. Для передачи колбеков при сабмите, успеха и ошибки валидации нужно установить дата атрибут data-callback="callback" с указанием типа колбеков если ничего не указывать то будет использоваться base колбек. Примеры находятся в файле init-form-validate.js
  p Для сброса формы нужно использовать button(type="reset") либо любой элемент с дата атрибутом data-reset
  p Указания типа валидаци инпута, добавляются на родительский div инпута, если не указать тип то валидироваться инпут не будет! К инпуту будут добавлятся два ариа атрибута aria-required="true" и aria-invalid="true" если в инпуте есть предустановленое значение то при инициализации и первичной проверке если введённое значение валидно aria-invalid="true" будет изменён на aria-invalid="false"
  table
    tr
      th
        p data-validate-type="text"
      td
        p Валилируется как обычное текстовое поле, инпуту можно указать minlength ограничение, если оно не указано, то минимальное значение при валидации будет равно 1 символу.
    tr
      th
        p data-validate-type="phone"
      td
        p Валилируется по длине матрици const matrix = `${BASE_COUNTRY_CODE}${BASE_MATRIX}` где BASE_COUNTRY_CODE = "+7", а BASE_MATRIX = "(___) ___ __ __".
        p Вы можите изменить базовый код страны и базовую матрицу поменяв константы в коде, они находятся в самом верху.
    tr
      th
        p data-validate-type="email"
      td
        p Валилируется как обычный email, от 1 символа до @ и от 1 после, затем точка и от 2 до 6 символов после неё
    tr
      th
        p data-validate-type="matrix"
      td
        p Валилируется по длине матрицы. Обязательно указывать матрицу data-matrix="____ ______" и ограничения ввода data-matrix-limitations="digit".
    tr
      th
        p data-validate-type="select"
      td
        p Валилируется на выбор как минимум одного пункта из списка
    tr
      th
        p data-validate-type="checkbox"
      td
        p Валилируется на checked, если чекбокс один то он должен быть чекнут
    tr
      th
        p data-validate-type="toggle-group"
      td
        p Валилируется группа из чекбоксов или радиокнопок на checked хотя бы одного элемента
  p Ограничения ввода data-limitations="любой из пяти допустимых", добавляются на #[b родительский div инпута]. Вы можете добавить свои собственные ограничения в конструкцию switch case при необходимости
  table
    tr
      th
        p data-limitations="digit"
      td
        p Доступен ввод только цифр
    tr
      th
        p data-limitations="letters"
      td
        p Доступен ввод только букв и пробела
    tr
      th
        p data-limitations="letters-and-digit"
      td
        p Доступен ввод только букв, цифр и пробела
    tr
      th
        p data-limitations="cyrillic"
      td
        p Доступен ввод только кирилицы и пробела
    tr
      th
        p data-limitations="latin"
      td
        p Доступен ввод только латинских букв и пробела
  p Ограничения ввода data-matrix-limitations="любой из пяти допустимых", добавляются на #[b родительский div инпута]. Вы можете добавить свои собственные ограничения в конструкцию switch case при необходимости.
  table
    tr
      th
        p data-limitations="digit"
      td
        p Доступен ввод только цифр
    tr
      th
        p data-limitations="letters"
      td
        p Доступен ввод только букв и пробела
    tr
      th
        p data-limitations="letters-and-digit"
      td
        p Доступен ввод только букв, цифр и пробела
    tr
      th
        p data-limitations="cyrillic"
      td
        p Доступен ввод только кирилицы и пробела
    tr
      th
        p data-limitations="latin"
      td
        p Доступен ввод только латинских букв и пробела
  p Ограничения ввода могут добавляться и не на обязательные для заполнения поля форм.
  p Матрица передаётся дата атрибутом #[b data-matrix="__.__.____"] обязательно указывать и второй атрибут #[b data-matrix-limitations="любой из пяти допустимых"]. Нижние подчёркивание в матрице соответствует введённому с клавиатуры символу. То есть вместо нижнего подчёркивания будет вставляться введённый символ.
  table
    tr
      th
        p data-matrix="__.__.____"
      td
        p При вводе мы получим следующий результат 21.02.1982
    tr
      th
        p data-matrix="____ ______"
      td
        p При вводе мы получим следующий результат 4234 234242
    tr
      th
        p data-matrix="__-__-______"
      td
        p При вводе мы получим следующий результат 42-34-234242
