mixin about()

  section.about
    .container
      .about__content
        h2.about__title О проекте
        .about__text
          p Тут было&nbsp;бы здорово написать вступительное слово с&nbsp;мини инструкцией, что, где и&nbsp;почему надо искать =)
          p Я просто текст, жду, когда здесь появится то-то более важное. Я просто текст, жду, когда здесь появится то-то более важное. Я просто текст, жду, когда здесь появится то-то более важное. Я просто текст, жду, когда здесь появится то-то более важное. Я просто текст, жду, когда здесь появится то-то более важное. Я просто текст, жду, когда здесь появится то-то более важное. Я просто текст, жду, когда здесь появится то-то более важное. Я просто текст, жду, когда здесь появится то-то более важное.
      .about__img-wrapper
        img.about__img(src="img/svg/dino-table.svg", width="519", height="357", alt="Изображение динозавра")
