mixin about()

  section.about
    .container
      .about__content
        h2.about__title О проекте
        .about__text
          p Каждый год Лига&nbsp;А. разрабатывает сотни проектов на&nbsp;которых есть повторяющиеся задачи или интересные и&nbsp;сложные решения о&nbsp;которых хочется рассказать.
          p Так и&nbsp;появилась &laquo;Лига решений&raquo;. Это пространство в&nbsp;котором разработчики делятся опытом и&nbsp;решениями, подталкивая друг друга познать мир веб-разработки чуточку глубже.
          p Мы рады инициативе каждого разработчика вне зависимости от его уровня умений и места работы. Больше вопросов, больше issue и pull request, больше историй о ваших победах и поражениях, больше решений.
      .about__img-wrapper
        img.about__img(src="img/svg/dino-table.svg", width="519", height="357", alt="Изображение динозавра")
