mixin achievements()

  section.achievements
    .container
      ul.achievements__list
        li.achievements__item
          span.achievements__number(data-number-to="3") 0
          span.achievements__name года опыта
        li.achievements__item
          span.achievements__number(data-number-to="468") 0
          span.achievements__name проектов
        li.achievements__item
          span.achievements__number(data-number-to="30") 0
          span.achievements__name компонентов
        li.achievements__item
          span.achievements__number(data-number-to="20") 0
          span.achievements__name кейсов
        li.achievements__item
          span.achievements__number(data-number-to="50") 0
          span.achievements__name гайдов


