mixin components-item(title, href)
  li.components__item
    a.components__link(href=href)!=title
      //+icon("icon-accordion", 16, 9).components__link-icon

mixin components()
  section.components
    //p.components__about Здесь может быть текст, но это не точно.  Здесь может быть текст, но это не точно.  Здесь может быть текст, но это не точно.  Здесь может быть текст, но это не точно.  Здесь может быть текст, но это не точно.  Здесь может быть текст, но это не точно.  Здесь может быть текст, но это не точно.  Здесь может быть текст, но это не точно.  Здесь может быть текст, но это не точно.
    ul.components__list
      +components-item("Валидация формы", "form-validate.html")
      +components-item("Кастомный селект", "custom-select.html")
      +components-item("Авто изменение высоты textarea", "auto-resize-textarea.html")
      +components-item("Легковесная телефонная маска", "phone-mask.html")
      +components-item("Cookies", "cookies.html")
      +components-item("Табы", "tabs.html")
      +components-item("Аккордеон", "accordion.html")
      +components-item("Склонение слов", "incline-word.html")
      +components-item("Модальные окна", "modals.html")
      +components-item("Лок фокуса", "focus-lock.html")
      +components-item("Блокировка скрола", "scroll-lock.html")
      +components-item("Прогресс скрола", "scroll-translator.html")
      +components-item("Подсветка пунктов навигации при скроле", "navigation-changer.html")
      +components-item("Файлы необходимые для поддержки на проекте ie", "ie-support.html")
      +components-item("Отправка данных формы на почту", "send-mail.html")
      +components-item("Фоновое видео", "inline-video.html")
      +components-item("Динамический адаптив", "dynamic-adaptive.html")
      +components-item("Простой кастомный курсор", "simple-cursor.html")
      +components-item("Адаптивный бегунок", "adaptive-runner.html")
      +components-item("Корректировка года", "year-correction.html")
      +components-item("Header", "header.html")
      +components-item("Input file", "input-file.html")
      +components-item("Бегущаяя строка", "marquee.html")
      +components-item("Прелоадер", "page-loader.html")
