mixin intro-heading()
  .intro-heading
    .intro-heading__wrapper
      .intro-heading__drako
        +icon("icon-drako", 190, 215)
      h1.intro-heading__title
        span Лига
        span.intro-heading__title-pale Решений
    .intro-heading__description
      //-  <p>Мы написали и будем писать для Вас <em>все самое вкусное</em> и&nbsp;почти&nbsp;без плагинов.</p>
