mixin intro()
  section.intro

    .intro__kraken-top
      .intro__kraken
        include ../../../img/svg/kraken-piece.svg
      .intro__kraken-copy
        include ../../../img/svg/kraken-piece.svg

    .intro__kraken-top.intro__kraken-top--mobile
      img(src="img/svg/kraken-top-mobile.svg", width="350", height="252")

    .intro__kraken-bottom
      .intro__kraken
        include ../../../img/svg/kraken-piece.svg
      .intro__kraken-copy
        include ../../../img/svg/kraken-piece.svg

    .intro__kraken-bottom.intro__kraken-bottom--mobile
      img(src="img/svg/kraken-bottom-mobile.svg", width="350", height="252")

    .container
      .intro__description
        .intro__banner-stroke
          include ../../../img/svg/kraken-banner-stroke.svg

        .intro__description-inner
          h1.intro__title
            span Лига
            span.intro__title.intro__title--blue Решений
          p.intro__slogan Изучай. Внедряй. Создавай.
