mixin last-added()
  section.last-added
    .container
      h2.last-added__title Последние добавленные:
      ul.last-added__list
        li.last-added__item
          .last-added__inner
            h3.last-added__heading Гайд по PUG
            p.last-added__description Данный гайд не описывает все возможности Pug и все варианты использования этих возможностей. Задача данного гайда дать необходимый минимум знаний для работы в Лиге А, показать пример того, как пишем мы и то, как мы хотим, чтобы писали вы, начиная работу в нашей команде.
            span.last-added__link
              span.last-added__link-text Смотреть
              +icon("icon-accordion", 14, 8).last-added__link-icon
            span.last-added__hashtag #Гайды
            a.last-added__shadow-link(href="pug.html", aria-label="Перейти к компоненту")
        li.last-added__item
          .last-added__inner
            h3.last-added__heading Скейлинг
            p.last-added__description #[b Ремы, скейлинг, масштабирование] - прием в верстке, когда на определенных разрешениях интерфейс выглядит одинаково, все элементы уменьшаются/увеличиваются пропорционально ширине экрана (на видео для разрешений выше 1920px включены ремы).
            span.last-added__link
              span.last-added__link-text Смотреть
              +icon("icon-accordion", 14, 8).last-added__link-icon
            span.last-added__hashtag #Гайды
            a.last-added__shadow-link(href="scaling.html", aria-label="Перейти к компоненту")
        li.last-added__item
          .last-added__inner
            h3.last-added__heading Input file
            p.last-added__description Достаточно часто нам приходиться работать с input file в форме, мы подготовили компонент который упростит эту задачу.
            span.last-added__link
              span.last-added__link-text Смотреть
              +icon("icon-accordion", 14, 8).last-added__link-icon
            span.last-added__hashtag #Компоненты
            a.last-added__shadow-link(href="input-file.html", aria-label="Перейти к компоненту")
