mixin search()

  form.search(data-da=".main-nav,1023,last")
    input.search__input(type="text", name="headerSearchInput", aria-label="Поиск по сайту")
    button.search__button(type="submit", aria-label="Найти")
      +icon("icon-search", 20, 20)
