.btn {
  border: none;
  background-color: $color-neon-blue;
  color: $color-default-white;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  line-height: 1;
  font-weight: 600;
  margin: 0;
  padding: 17px 35px;
  transition: background-color $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &--form {
    border-radius: 8px;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    margin: 34px 0 58px;
    max-width: 300px;
    padding: 10px 30px;
    width: 100%;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      background-color: $color-amaranth;
    }
  }
}
