.btn {
  display: inline-flex;
  margin: 0;
  padding: 17px 35px;

  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  color: $color-default-white;

  background-color: $color-neon-blue;
  border: none;
  cursor: pointer;

  transition: background-color $trans-default;

  @include hover-focus {
    background-color: $color-amaranth;
  }

  &:hover,
  &:focus {
    background-color: $color-torch-red;
  }

  &--red {
    background-color: $color-torch-red;
  }

  &--form {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 300px;
    margin: 34px 0 58px;
    padding: 10px 30px;

    font-size: 18px;
    line-height: 24px;

    border-radius: 8px;

    @media screen and (max-width: 767px) {
      margin: 18px 0 58px;
    }
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }
}
