.component {
  .subtitle {
    font-size: 32px;
    line-height: 36px;
    margin: 20px 0 20px;

    @include vp-767 {
      font-size: 20px;
      line-height: 24px;
    }
  }

  .title {
    font-size: 34px;
    font-weight: 600;
    line-height: 40px;
    margin: 0;

    @include vp-767 {
      font-size: 28px;
      line-height: 28px;
      margin: 0 0 18px 0;
      word-break: break-word;
    }
  }

  .fix-block {
    position: fixed;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);

    p {
      margin: 0;
      padding: 20px 50px;
      background-color: royalblue;
    }
  }
}
