.components {
  padding: 20px 60px 150px 70px;

  &__about {
    font-size: 18px;
    line-height: 27px;
    margin: 0 0 40px 0;
  }

  &__list {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__link {
    align-items: center;
    display: flex;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    transition: color $trans-default;

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        color: $color-neon-blue;
      }
    }
  }

  &__link-icon {
    fill: currentColor;
    margin: 0 0 0 15px;
    transform: rotate(90deg);
  }
}
