.component-heading {
  position: sticky;
  z-index: 10;
  top: 69px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 2px solid $color-ghost-white;
  background-color: $color-default-white;

  @include vp-1279 {
    top: 72px;
  }

  @include vp-1023 {
    top: 63px;
    padding: 20px 60px 17px 0;
  }

  @include vp-767 {
    position: relative;
    top: 0;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px 0 34px 0;
  }

  &--not-demo {
    @include vp-767 {
      padding: 16px 0;
    }

    .component-heading__head {
      @include vp-767 {
        margin: 0;
      }
    }
  }

  &__head {
    max-width: 70%;
    padding: 0 20px 0 0;

    @include vp-767 {
      max-width: 80%;
      margin: 0 0 35px 0;
    }
  }

  &__tabs {
    display: flex;
    align-items: center;
    margin: 13px 0 0 0;
  }

  &__tab-control {
    font-size: 18px;
    line-height: 26px;
    position: relative;
    padding: 0;
    cursor: pointer;
    transition: all $trans-default;
    color: $color-default-black;
    border: none;
    background-color: $color-transparent;

    &::before {
      position: absolute;
      bottom: -3px;
      width: 100%;
      height: 3px;
      content: "";
      opacity: 0;
      background-color: $color-neon-blue;
      transition: opacity $trans-default;
    }

    &.is-active {
      &::before {
        opacity: 1;
      }
      //text-decoration: underline;
      //text-decoration-color: $color-neon-blue;
      //text-decoration-thickness: 3px;
      //text-underline-offset: 5px;
    }

    &:not(:last-child) {
      margin: 0 55px 0 0;
    }

    @include vp-767 {
      line-height: 23px;
    }

    @include hover-focus {
      opacity: 0.8;
      color: $color-neon-blue;
    }
  }

  &__download-link {
    flex-shrink: 0;
  }
}
