.footer {
  padding: 24px 0;
  border-top: 2px solid $color-ghost-white;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    align-items: center;
  }

  &__address {
    justify-self: start;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
  }

  &__logo {
    justify-self: center;
  }

  &__git-link {
    justify-self: end;
  }
}
