.footer {
  position: relative;
  z-index: 22;
  padding: 22px 0;
  border-top: 2px solid $color-ghost-white;
  background-color: $color-default-white;

  &__wrapper {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;

    @include vp-767 {
      gap: 25px;
    }
  }

  &__address {
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    line-height: 150%;
    justify-self: start;

    @include vp-767 {
      font-size: 8px;
    }

    @include vp-374 {
      font-size: size-mobile(8px);
    }
  }

  &__logo {
    justify-self: center;

    @include vp-767 {
      .logo__first-part {
        width: 58px;
        height: 13px;
      }

      .logo__second-part {
        width: 84px;
        height: 20px;
        margin: 0;
      }
    }
  }

  &__git-link {
    justify-self: end;
  }
}
