.git-link {
  display: flex;
  position: relative;
  z-index: 25;

  &.is-active {
    svg {
      fill: $color-default-white;
    }
  }

  @include hover-focus {
    svg {
      fill: $color-neon-blue;
    }
  }

  svg {
    fill: $color-default-black;
    height: 35px;
    transition: fill $trans-default;
    width: 35px;

    @include vp-1023 {
      height: 30px;
      width: 30px;
    }
  }
}
