.header {
  background-color: $color-default-white;
  border: 2px solid $color-ghost-white;
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 30;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    margin: -8px 40px 0 0;
    display: flex;

    @include vp-1279 {
      flex-direction: column;
      transform: scale(0.85);
    }

    @include vp-1023 {
      flex-direction: row;
      transform: scale(1);
    }

    &.is-active {
      position: relative;
      z-index: 25;
    }

    .logo__second-part {
      @include vp-1279 {
        margin: 0;
      }

      @include vp-1023 {
        margin: 0 0 0 9px;
      }

      @include vp-767 {
        margin: 0;
      }
    }
  }

  &__git-link {
    display: flex;
    // Когда появится поиск строчку ниже нужно убрать
    //margin: 0 0 0 auto;

    @include vp-1023 {
      margin: 0 24px 0 auto;
    }
  }
}
