.header {
  padding: 20px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo[href],
  &__git {
    transition: fill $trans-default;

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        fill: $color-neon-blue;
      }
    }
  }

  &__logo {
    margin-right: 40px;
    display: flex;
  }

  &__git {
    display: flex;
  }
}
