.hero {
  background-color: $color-ghost-white;
  padding: 20px 0 37px;

  @include vp-1023 {
    padding: 15px 0;
  }

  @include vp-767 {
    padding: 10px 0 20px;
  }

  &__breadcrumbs {
    margin: 0 0 25px 0;

    @include vp-1023 {
      margin: 0 0 15px 0;
    }

    @include vp-767 {
      margin: 0 0 10px 0;
    }
  }

  &__title {
    font-family: $ff-neue-machina;
    font-size: 52px;
    font-weight: 700;
    line-height: 58px;
    margin: 0;

    @include vp-1023 {
      font-size: 45px;
      line-height: 50px;
    }

    @include vp-767 {
      font-size: 40px;
      line-height: 45px;
    }
  }
}
