.intro {
  margin: 50px 0 140px;
  padding: 100px 0;
  position: relative;
  overflow: hidden;

  @include vp-1023 {
    margin: 50px 0 100px 0;
  }

  @include vp-767 {
    padding: 227px 0 265px;
    margin: 0 0 80px 0;
  }

  .container {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &__kraken-top {
    display: block;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    top: 0;
    width: 1440px;

    @include vp-767 {
      height: 228px;
      width: 375px;
    }
  }

  &__kraken-bottom {
    display: block;
    bottom: 0;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 1440px;

    @include vp-767 {
      height: 275px;
      width: 375px;
    }
  }

  &__description {
    background-color: $color-default-white;
    border: 1px solid $color-default-black;
    border-radius: 40px;
    max-width: 560px;
    padding: 53px 34px 46px;
    position: relative;
    width: 100%;

    @include vp-1023 {
      max-width: unset;
      padding: 35px 40px 35px;
      width: unset;
    }

    @include vp-767 {
      padding: 35px 15px;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    font-family: $ff-neue-machina;
    font-size: 88px;
    line-height: 77px;
    margin: 0 0 25px 0;
    text-transform: uppercase;

    @include vp-1023 {
      font-size: 70px;
      line-height: 1;
    }

    @include vp-767 {
      font-size: 66px;
      line-height: 1;
      text-align: center;
    }

    &--blue {
      color: $color-neon-blue;
      margin: 14px 0 0 0;

      @include vp-767 {
        margin: 0;
      }
    }
  }

  &__slogan {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    margin: 0;

    @include vp-767 {
      font-size: 14px;
      line-height: 1;
      text-align: center;
    }
  }
}
