.up-button {
  bottom: 0;
  position: absolute;
  right: 110px;

  @include vp-1023 {
    right: 50px;
  }

  @include vp-767 {
    right: 50px;
  }

  &__inner {
    bottom: 90px;
    opacity: 0;
    position: fixed;
    transition: all $trans-default;
    transform: translate3d(0, 100px, 0);
    //right: 20px;
    z-index: 20;

    @include vp-767 {
      bottom: 110px;
    }

    &.is-active {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  &__link {
    align-items: center;
    background-color: $color-default-white;
    border: 1px solid $color-neon-blue;
    border-radius: 50%;
    color: $color-neon-blue;
    display: flex;
    justify-content: center;
    transition: background-color $trans-default;
    height: 50px;
    width: 50px;

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover {
        background-color: $color-neon-blue;
        color: $color-default-white;
      }
    }

    svg {
      fill: currentColor;
      transition: fill $trans-default;
    }
  }
}
