section.component-heading
  h1.component__title Файлы необходимые для поддержки на проекте ie
  a.component-heading__download-link.btn(href="zip-components/ie-support.zip", download) Скачать компонент
