section.component-heading
  .component-heading__head
    h1.title Файлы необходимые для поддержки на проекте ie
    .component-heading__tabs
      button.component-heading__tab-control(type='button', data-tabs='control') Описание
  a.component-heading__download-link.btn(href="zip-components/ie-support.zip", download) Скачать компонент
