.accordion-class {
  max-width: 500px;
}

.accordion-class__element {
  margin-bottom: 50px;
}

.accordion-class__element.is-open > .accordion-class__button {
  opacity: 0.5;
}

.accordion-class__button {
  width: 100%;
  padding: 10px;
  text-transform: uppercase;
  cursor: pointer;
}
