.component__demo--autoresize-textarea {
  .autoresize-textarea {
    margin-bottom: 20px;

    textarea {
      font-size: 26px;
      line-height: 30px;
      min-width: 300px;
      border: 2px solid $color-default-black;
      transition: border $trans--300;

      &:hover,
      &:focus {
        border-color: $color-blue;
      }
    }
  }
}
