section.component-heading
  .component-heading__head
    h1.title Отправка данных формы на почту
    .component-heading__tabs
      button.component-heading__tab-control(type='button', data-tabs='control') Описание
  a.component-heading__download-link.btn(href="zip-components/send-mail.zip", download) Скачать компонент
