mixin git-link()
  a.git-link(href="https://github.com/htmlonelove/liga-reshare", target="_blank", rel="nofollow noopener noreferrer", aria-label="Ссылка на репозиторий")&attributes(attributes)
    +icon("icon-git", 35, 35)
