section.component-description(data-tabs='element')
  p В данном компоненте представленны две простые реализации прелоадера, на функциях и на классах, выбирайте тот что покажется вам комфортным для понимания.
  p Обязательный аттрибут #[b data-page-loader] нужно добавить на блок прелоадера.
  code
    pre
      |&lt;div class="page-loader" data-page-loader&gt;
      |   ...
      |&lt;/div&gt;
      |
  p В данном компоненте задействован функционал #[a(href="scroll-lock.html") блокировки скролла], если на вашем проекте используется другой функционал или библиотека, следует адаптировать это под свой проект.
  p Если вам нужно будет выполнить какие-то дополнительные действия после снятия прелоадера, завязывайтесь на событие #[b loaderOff] которое запускает компонент.
  code
    pre
      | window.addEventListener('loaderOff', () => { ... });
  p
    a(href="page-loader-example.html") Пример функционального прелоадера
  p
    a(href="page-loader-class-example.html") Пример классового прелоадера
