section.component-heading
  .component-heading__head
    h1.title Прелоадер
    .component-heading__tabs
      button.component-heading__tab-control(type='button', data-tabs='control') Описание
  a.component-heading__download-link.btn(href="zip-components/page-loader.zip", download) Скачать компонент
