section.component-description(data-tabs='element')
  p Лок фокуса состоит из одного файла focus-lock.js, он обязателен для переноса в проект. Из него экспортится класс FocusLock, в файле создаётся экземпляр класса и записывается в глобальную область видимости window.focusLock = new FocusLock();
  p В проекте пользуйтесь глобальной переменной window.focusLock.
  h3 #[b В классе есть два публичных метода]
  table
    tr
      th
        p lock(lockedSelector)
      td
        p Принимает селектор родителя. Если внутри родителя нет фокусируемых элементов, то при нажатии на клавишу #b[tab] или сочетание #[b shift + tab] действие по умолчанию будет отменено. Если внутри родителя есть только один фокусируемый элемент, то при нажатии на клавишу #[b tab] или сочетание #[b shift + tab] фокус с него уходить не будет. Нам не всегда нужно, чтобы какой-либо элемент сразу попадал в фокус, поэтому вторым параметром можно передать false #[b lock(lockedSelector, false)].
    tr
      th
        p unlock()
      td
        p Возвращает стандартное поведение фокуса и возвращает его в тот элемент, на котором он был до блокировки фокуса. Если вам не требуется такое поведение, то аргументом нужно передать #[b false]
  h3 Необязательные дата атрибуты
  table
    tr
      th
        p data-focus
      td
        p Устанавливается на элемент, который должен попасть в фокус. Если не установлен, то в фокус попадает первый фокусируемый элемент в переданном родителе.

