section.component-demo
  h2.subtitle Демо
  p
    button.btn.lock(type='button') Заблокировать фокус в блоке ниже
  p
    button.btn.lock-false(type='button') Заблокировать фокус в блоке ниже с передачей false
  p
    button.btn.unlock(type='button') Разблокировать фокус по умолчанию
  p
    button.btn.unlock-false(type='button') Разблокировать фокус с передачей false
  p
  section.lock-block
    h2 Блокируемая секция
    p
      button.btn(type='button') Я кнопка
    p
      button.btn(type='button') Я кнопка
    p
      button.btn(type='button') Я кнопка
    p
      button.btn(type='button') Я кнопка
  script.

    const lockBtnElement = document.querySelector('.lock');
      const lockFalseBtnElement = document.querySelector('.lock-false');
      const unlockBtnElement = document.querySelector('.unlock');
      const unlockFalseBtnElement = document.querySelector('.unlock-false');

      lockBtnElement.addEventListener('click', () => window.focusLock.lock('.lock-block'));
      lockFalseBtnElement.addEventListener('click', () => window.focusLock.lock('.lock-block', false));
      unlockBtnElement.addEventListener('click', () => window.focusLock.unlock());
      unlockFalseBtnElement.addEventListener('click', () => window.focusLock.unlock(false));
