.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 60px;

  @include vp--1023 {
    padding: 0 30px;
  }

  @include vp--767 {
    padding: 0 15px;
  }

  &--no-padding {
    @include vp--767 {
      padding: 0;
    }
  }
}
