section.component-description
  h2.subtitle Описание
  p В данной реализации используется делегирование, но это не решает вопрос с открытием активного таба так как высота у него устанавлиается в Js, этот вопрос решается методом класса. Добавлен ResizeObserver что помогает менять высоту блока при изменении размеров его содержимого без вызова дополнительных методов или функций (например если в табе будет кнопка показать ещё которая будет разворачивать дополнительный текст)
  p Табы состоят из следующих файлов: tabs.js, init-tabs.js, data-tabs.scss все файлы обязательны к переносу в проект! Файл tabs.scss добавлен только для стилизации, в нём вы можете менять всё что угодно
  p
    | В файле init-tabs.js создаётся экземпляр класса Tabs который записывается в переменную tabs, им вы можете пользоваться по проекту при необходимости, так же он записывается в window.tabs.
    |
    em Используйте в разработке экспортируемую переменную tabs, window сделан для бэкэнда
  h2.component__subtitle Обязательные data атрибуты
  p data-tabs="parent" Устанавливается на родителе
  p data-tabs="controls" Устанавливается на родителе контролов (кнопок)
  p data-tabs="control" Устанавливается на контроле (кнопоке)
  p data-tabs="content" Устанавливается на родителе показываемых элементов
  p data-tabs="element" Устанавливается на показываемом элементе
  h2.component__subtitle Не обязательные data атрибуты
  p data-delay="время в милисекундах" Устанавливается на родителе отвечает за задержку при смене табов, а имено задерку между убиранием активного класса у активного элемента и установкой активного класса на выбранном элементе
  p data-height="max" Устанавливается на родителе, если он установлен, то высота блока будет равна максимальной высоте элементов таба
  p data-height="unset" Устанавливается на родителе, если он установлен, то высота блока не будет расчитываться из js, а будет зависеть от стилей. Полезно для кейсов когда у контента фиксированная высота и в табе нужна прокрутка. Пример модалка на весь экран с табами
  h2.component__subtitle Методы экземпляра классса tabs
  p tabs.openTab(control) принимает контрол (кнопку) в виде дом элемента отвечающую за открытие таба
  p tabs.reInit() Вызывается при динамическом добавлении новых табов, никак не влияет на те табы что уже есть на странице
  h2.component__subtitle Инициализация
  p По умолчанию открыт первый элемент таба, все классы расставляются автоматом. Если нужно что бы был открыт не первый элемент таба, то нужно установить класс is-active на нужный вам контрол (кнопку). Если вы установите этот класс на всех контролах (кнопках), то он снимется со всех контролов (кнопок) кроме первого по порядку в HTML относящихся к своему родителю (data-tabs="parent"), во вложенных родителях (data-tabs="parent") произойдёт тоже самое но относительно своего родителя
