section.component-heading
  .component-heading__head
    h1.title Табы
    .component-heading__tabs
      button.component-heading__tab-control(type='button', data-tabs='control') Описание
      button.component-heading__tab-control.is-active(type='button', data-tabs='control') Демо
  a.component-heading__download-link.btn(href="zip-components/tabs.zip", download) Скачать компонент
