mixin footer(footerMods)
  footer.footer(class=footerMods)
    .container
      .footer__wrapper
        address.footer__address
          | ООО&nbsp;Ракета,&nbsp;2017&#8209;2022,
          br
          | из&nbsp;Санкт-Петербурга с&nbsp;любовью.
        +logo().footer__logo
        +git-link().footer__git-link

