mixin header(headerMods, currentUrl)
  header.header(class=headerMods)
    .container
      if(currentUrl === "index.html")
        +logo().header__logo
      else
        +logo({href: "index.html"}).header__logo
      ul.header__external-list
        li.header__external-item
          a.header__external-link(href="https://ligaa.agency/") Лига А.
        li.header__external-item
          a.header__external-link(href="https://testim.agency/") Тестировошная
        li.header__external-item
          a.header__external-link(href="https://ligaa.agency/portfolio.html") Портфолио
      .header__search

      +git-link().header__git-link
