mixin header(headerMods, currentUrl)
  header.header(class=headerMods, data-fix-block)
    .container
      if(currentUrl === "index.html")
        +logo().header__logo(data-header-logo)
      else
        +logo({href: "index.html"}).header__logo(data-header-logo)
      nav.header__nav.main-nav(data-main-nav)
        ul.main-nav__list
          li.main-nav__item(data-nav-item)
            a.main-nav__link(href="components.html") Компоненты
          li.main-nav__item
            a.main-nav__link(href="cases.html") Кейсы
          li.main-nav__item(data-nav-item)
            a.main-nav__link(href="guides.html") Гайды
          li.main-nav__item(data-nav-item)
            a.main-nav__link.main-nav__link--blue(href="https://ligaa.agency/", target="_blank") Лига А.
      // Миксин поиска
      //+search().header__search
      +git-link().header__git-link
      button.header__sandwich.sandwich(type="button", aria-label="Переключатель отображения меню", aria-pressed="false", data-sandwich)
        span.sandwich__text Меню
        +icon("icon-close", 20, 20).sandwich__icon
