[data-tabs="parent"].no-transition {
  [data-tabs="content"],
  [data-tabs="element"] {
    transition: none;
  }
}

[data-tabs="content"] {
  position: relative;
  transition: height 0.3s;
}

[data-tabs="element"] {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in, visibility 0.3s ease-in;
}

[data-tabs="element"].is-active {
  z-index: 1;
  opacity: 1;
  visibility: visible;
}
