.tabs {
  max-width: 100%;

  [data-tabs="accordion"] {
    @media screen and (max-width: 767px) {
      margin: 10px 2% 0;
    }

    > .tabs__control.is-active {
      pointer-events: auto;
      opacity: 0.5;
    }

    > .tabs__control {
      @media screen and (max-width: 767px) {
        width: 100%;
        margin: 0;
        padding: 10px;
      }
    }
  }

  [data-tabs="accordion"].is-active {
    > .tabs__control {
      opacity: 1;
    }
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;

    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
    }
  }

  &__control {
    text-transform: uppercase;
    cursor: pointer;
    margin: 0 20px;
    opacity: 0.5;
    min-width: auto;
    justify-content: center;
    width: 25%;

    @media screen and (max-width: 1023px) {
      margin: 0 10px;
      padding: 15px;
    }

    @media screen and (max-width: 767px) {
      margin: 10px 2% 0;
      padding: 10px;
      width: 45%;
    }

    &.is-active {
      opacity: 1;
      pointer-events: none;
    }
  }

  &__content {
    margin-bottom: 40px;

    transition: height 0.3s;
  }

  &__element {
    padding: 25px;
    width: 100%;

    @media screen and (max-width: 767px) {
      padding: 15px;
    }

    p {
      margin: 0;

      &:not(:last-child) {
        margin: 0 0 20px 0;
      }
    }

    &:nth-child(1) {
      background-color: rgb(250, 235, 215);
    }

    &:nth-child(2) {
      background-color: rgb(229, 250, 215);
    }

    &:nth-child(3) {
      background-color: rgb(180, 188, 233);
    }

    &:nth-child(4) {
      background-color: rgb(255, 187, 204);
    }
  }

  &--unset .tabs__content {
    height: 100px;
  }

  &--unset .tabs__element {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
