section.component-description(data-tabs='element')
  p Компонент шапки состоит из двух частей: #[b burger.js] - отвечает за работу бургера, #[b sticky-header.js] - отвечает за работу прилипающего меню и за смену тем в меню при необходимости.
  p Вся стилизация происходит от родителя(header-example), при открытии бургера на него вешается класс #[b is-open].
  p Для прилепающего меню родителю добавлен модификатор #[b header-example--sticky].
  p Смена темы в шапке происходит так же за счёт добавления модификаторов к родителю.
  p Для корректной работы бургер меню родителю необходимо добавить атрибут #[b data-header], а бургеру #[b data-burger].
  p Открытие меню происходит по клику на бургер. Закрытие по клику на бургер, по нажатию на клавишу esc, а так же по клику на элемент с дата атрибутом #[b data-close-menu]
  p Переключение по табу зациклено в шапке при открытии меню. #[b Важно что бы меню находилось внутри шапки].
  p Для работы стики шапки в атрибут #[b data-header] необходимо прописать значение #[b data-header="sticky"], помимо этого должны быть подготовлены и стили, js не делаю шапку фиксированной, он лишь управляет её поведением при необходимости бэкскроле и смены тем.
  p В стики шапке, вы, так же можете прописать дата атрибут #[b data-hide-point="number"], number - это число, которое отвечает за то, на каком растоянии скрола шапка должна исчезать, если атрибут не поставить шапка будет скрываться сразу при начале скрола.
  p Для смены тем в шапке при скроле, на секции над которыми будет меняться тема шапки нужно расставить дата атрибуты #[b data-header-theme-class="mod"], mod - это модификатор для шапки который будет вешаться на неё при доскроле к необходимой секции. #[b Важно что бы данный дата атрибут был прописан на всех секциях подряд].
  p
    a(href="header-simple-example.html") Пример простого бургер меню
  p
    a(href="header-sticky-example.html") Пример прилепающей шапки с бургер меню
  p
    a(href="header-sticky-example-loco.html") Пример прилепающей шапки с бургер меню и локомотивом
