section.component-demo(data-tabs='element')
  h2.subtitle Проскрольте страницу вниз
  .vh-300
.scroll-translator.scroll-translator--horizontal(data-translator='parent', data-translator-type='horizontal')
  .scroll-translator__indicator(data-translator='indicator')
.scroll-translator.scroll-translator--vertical(data-translator='parent', data-translator-type='vertical')
  .scroll-translator__indicator(data-translator='indicator')
