

.accordion-class(data-accordion="parent", data-type="single")
  .accordion-class__element.is-open(data-accordion="element")
    button.accordion-class__button.btn.btn--aquamarine(type="button" data-accordion="button") Открыть
    div(data-accordion="content")
      p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eaque consequatur perspiciatis impedit ab aperiam neque rrupti nisi deleniti optio enim provident molestiae, quidem sint laboriosam reiciendis accusantium iusto distinctio!
  .accordion-class__element(data-accordion="element")
    button.accordion-class__button.accordion-class__button.btn.btn--aquamarine(type="button" data-accordion="button") Открыть
    div(data-accordion="content")
      p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eaque consequatur perspiciatis impedit ab aperiam neque rrupti nisi deleniti optio enim provident molestiae, quidem sint laboriosam reiciendis accusantium iusto distinctio!
  .accordion-class__element(data-accordion="element")
    button.accordion-class__button.btn.btn--aquamarine(type="button" data-accordion="button") Открыть
    div(data-accordion="content")
      p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eaque consequatur perspiciatis impedit ab aperiam neque rrupti nisi deleniti optio enim provident molestiae, quidem sint laboriosam reiciendis accusantium iusto distinctio!
  .accordion-class__element(data-accordion="element")
    button.accordion-class__button.btn.btn--aquamarine(type="button" data-accordion="button") Открыть
    div(data-accordion="content")
      p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eaque consequatur perspiciatis impedit ab aperiam neque rrupti nisi deleniti optio enim provident molestiae, quidem sint laboriosam reiciendis accusantium iusto distinctio!
  .accordion-class__element(data-accordion="element")
    button.accordion-class__button.btn.btn--aquamarine(type="button" data-accordion="button") Открыть
    div(data-accordion="content")
      .accordion-class(data-accordion="parent")
        .accordion-class__element(data-accordion="element")
          button.accordion-class__button.btn.btn--aquamarine(type="button" data-accordion="button") Открыть
          div(data-accordion="content")
            p
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eaque consequatur perspiciatis impedit ab aperiam que corrupti nisi deleniti optio enim provident molestiae, quidem sint laboriosam reiciendis accusantium iusto stinctio!
        .accordion-class__element(data-accordion="element")
          button.accordion-class__button.btn.btn--aquamarine(type="button" data-accordion="button") Открыть
          div(data-accordion="content")
            p
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eaque consequatur perspiciatis impedit ab aperiam que corrupti nisi deleniti optio enim provident molestiae, quidem sint laboriosam reiciendis accusantium iusto stinctio!
        .accordion-class__element(data-accordion="element")
          button.accordion-class__button.btn.btn--aquamarine(type="button" data-accordion="button") Открыть
          div(data-accordion="content")
            p
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eaque consequatur perspiciatis impedit ab aperiam que corrupti nisi deleniti optio enim provident molestiae, quidem sint laboriosam reiciendis accusantium iusto stinctio!
        .accordion-class__element(data-accordion="element")
          button.accordion-class__button.btn.btn--aquamarine(type="button" data-accordion="button") Открыть
          div(data-accordion="content")
            .accordion-class(data-accordion="parent")
              .accordion-class__element(data-accordion="element")
                button.accordion-class__button.btn.btn--aquamarine(type="button" data-accordion="button") Открыть
                div(data-accordion="content")
                  p
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eaque consequatur perspiciatis impedit ab eriam neque corrupti nisi deleniti optio enim provident molestiae, quidem sint laboriosam reiciendis accusantium sto distinctio!
              .accordion-class__element(data-accordion="element")
                button.accordion-class__button.btn.btn--aquamarine(type="button" data-accordion="button") Открыть
                div(data-accordion="content")
                  p
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eaque consequatur perspiciatis impedit ab eriam neque corrupti nisi deleniti optio enim provident molestiae, quidem sint laboriosam reiciendis accusantium sto distinctio!
              .accordion-class__element(data-accordion="element")
                button.accordion-class__button.btn.btn--aquamarine(type="button" data-accordion="button") Открыть
                .div(data-accordion="content")
                  p
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eaque consequatur perspiciatis impedit ab eriam neque corrupti nisi deleniti optio enim provident molestiae, quidem sint laboriosam reiciendis accusantium sto distinctio!
.accordion-class(data-accordion="parent", data-type="single")
  .accordion-class__element.is-open(data-accordion="element")
    button.accordion-class__button.btn.btn--aquamarine(type="button" data-accordion="button") Открыть
    div(data-accordion="content")
      p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eaque consequatur perspiciatis impedit ab aperiam neque rrupti nisi deleniti optio enim provident molestiae, quidem sint laboriosam reiciendis accusantium iusto distinctio!
  .accordion-class__element(data-accordion="element")
    button.accordion-class__button.accordion-class__button.btn.btn--aquamarine(type="button" data-accordion="button") Открыть
    div(data-accordion="content")
      p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eaque consequatur perspiciatis impedit ab aperiam neque rrupti nisi deleniti optio enim provident molestiae, quidem sint laboriosam reiciendis accusantium iusto distinctio!
  .accordion-class__element(data-accordion="element")
    button.accordion-class__button.btn.btn--aquamarine(type="button" data-accordion="button") Открыть
    div(data-accordion="content")
      p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eaque consequatur perspiciatis impedit ab aperiam neque rrupti nisi deleniti optio enim provident molestiae, quidem sint laboriosam reiciendis accusantium iusto distinctio!
  .accordion-class__element(data-accordion="element")
    button.accordion-class__button.btn.btn--aquamarine(type="button" data-accordion="button") Открыть
    div(data-accordion="content")
      p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eaque consequatur perspiciatis impedit ab aperiam neque rrupti nisi deleniti optio enim provident molestiae, quidem sint laboriosam reiciendis accusantium iusto stinctio!
