<h2 class="component__subtitle">Пример аккордеона с вложенностью</h2>
<div class="accordion" data-accordion="parent" data-single data-close-inner>
  <div class="accordion__element is-active" data-accordion="element">
    <button class="accordion__button btn btn--aquamarine" type="button" data-accordion="button">Открыть</button>
    <div class="accordion__content" data-accordion="content">
      <div class="accordion__wrapper">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eaque consequatur perspiciatis impedit ab aperiam neque corrupti nisi deleniti optio enim provident molestiae, quidem sint laboriosam reiciendis accusantium iusto distinctio!</p>
      </div>
    </div>
  </div>
  <div class="accordion__element is-active" data-accordion="element">
    <button class="accordion__button accordion__button btn btn--aquamarine" type="button" data-accordion="button">Открыть</button>
    <div class="accordion__content" data-accordion="content">
      <div class="accordion__wrapper">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eaque consequatur perspiciatis impedit ab aperiam neque corrupti nisi deleniti optio enim provident molestiae, quidem sint laboriosam reiciendis accusantium iusto distinctio!</p>
      </div>
    </div>
  </div>
  <div class="accordion__element" data-accordion="element">
    <button class="accordion__button btn btn--aquamarine" type="button" data-accordion="button">Открыть</button>
    <div class="accordion__content" data-accordion="content">
      <div class="accordion__wrapper">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eaque consequatur perspiciatis impedit ab aperiam neque corrupti nisi deleniti optio enim provident molestiae, quidem sint laboriosam reiciendis accusantium iusto distinctio!</p>
      </div>
    </div>
  </div>
  <div class="accordion__element" data-accordion="element">
    <button class="accordion__button btn btn--aquamarine" type="button" data-accordion="button">Открыть</button>
    <div class="accordion__content" data-accordion="content">
      <div class="accordion__wrapper">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eaque consequatur perspiciatis impedit ab aperiam neque corrupti nisi deleniti optio enim provident molestiae, quidem sint laboriosam reiciendis accusantium iusto distinctio!</p>
      </div>
      <div class="accordion" data-accordion="parent" data-single>
        <div class="accordion__element is-active" data-accordion="element">
          <button class="accordion__button btn btn--aquamarine" type="button" data-accordion="button">Открыть</button>
          <div class="accordion__content" data-accordion="content">
            <div class="accordion__wrapper">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eaque consequatur perspiciatis impedit ab aperiam neque corrupti nisi deleniti optio enim provident molestiae, quidem sint laboriosam reiciendis accusantium iusto distinctio!</p>
            </div>
          </div>
        </div>
        <div class="accordion__element" data-accordion="element">
          <button class="accordion__button accordion__button btn btn--aquamarine" type="button" data-accordion="button">Открыть</button>
          <div class="accordion__content" data-accordion="content">
            <div class="accordion__wrapper">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eaque consequatur perspiciatis impedit ab aperiam neque corrupti nisi deleniti optio enim provident molestiae, quidem sint laboriosam reiciendis accusantium iusto distinctio!</p>
            </div>
          </div>
        </div>
        <div class="accordion__element" data-accordion="element">
          <button class="accordion__button btn btn--aquamarine" type="button" data-accordion="button">Открыть</button>
          <div class="accordion__content" data-accordion="content">
            <div class="accordion__wrapper">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eaque consequatur perspiciatis impedit ab aperiam neque corrupti nisi deleniti optio enim provident molestiae, quidem sint laboriosam reiciendis accusantium iusto distinctio!</p>
            </div>
          </div>
        </div>
        <div class="accordion__element" data-accordion="element">
          <button class="accordion__button btn btn--aquamarine" type="button" data-accordion="button">Открыть</button>
          <div class="accordion__content" data-accordion="content">
            <div class="accordion__wrapper">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eaque consequatur perspiciatis impedit ab aperiam neque corrupti nisi deleniti optio enim provident molestiae, quidem sint laboriosam reiciendis accusantium iusto distinctio!</p>
              <div class="accordion" data-accordion="parent">
                <div class="accordion__element is-active" data-accordion="element">
                  <button class="accordion__button btn btn--aquamarine" type="button" data-accordion="button">Открыть</button>
                  <div class="accordion__content" data-accordion="content">
                    <div class="accordion__wrapper">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eaque consequatur perspiciatis impedit ab aperiam neque corrupti nisi deleniti optio enim provident molestiae, quidem sint laboriosam reiciendis accusantium iusto distinctio!</p>
                    </div>
                  </div>
                </div>
                <div class="accordion__element" data-accordion="element">
                  <button class="accordion__button accordion__button btn btn--aquamarine" type="button" data-accordion="button">Открыть</button>
                  <div class="accordion__content" data-accordion="content">
                    <div class="accordion__wrapper">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eaque consequatur perspiciatis impedit ab aperiam neque corrupti nisi deleniti optio enim provident molestiae, quidem sint laboriosam reiciendis accusantium iusto distinctio!</p>
                    </div>
                  </div>
                </div>
                <div class="accordion__element" data-accordion="element">
                  <button class="accordion__button btn btn--aquamarine" type="button" data-accordion="button">Открыть</button>
                  <div class="accordion__content" data-accordion="content">
                    <div class="accordion__wrapper">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eaque consequatur perspiciatis impedit ab aperiam neque corrupti nisi deleniti optio enim provident molestiae, quidem sint laboriosam reiciendis accusantium iusto distinctio!</p>
                    </div>
                  </div>
                </div>
                <div class="accordion__element" data-accordion="element">
                  <button class="accordion__button btn btn--aquamarine" type="button" data-accordion="button">Открыть</button>
                  <div class="accordion__content" data-accordion="content">
                    <div class="accordion__wrapper">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eaque consequatur perspiciatis impedit ab aperiam neque corrupti nisi deleniti optio enim provident molestiae, quidem sint laboriosam reiciendis accusantium iusto distinctio!</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<h2 class="component__subtitle">Пример аккордеона без вложенности</h2>
<div class="accordion" data-accordion="parent" data-single>
  <div class="accordion__element is-active" data-accordion="element">
    <button class="accordion__button btn btn--aquamarine" type="button" data-accordion="button">Открыть</button>
    <div class="accordion__content" data-accordion="content">
      <div class="accordion__wrapper">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eaque consequatur perspiciatis impedit ab aperiam neque corrupti nisi deleniti optio enim provident molestiae, quidem sint laboriosam reiciendis accusantium iusto distinctio!</p>
      </div>
    </div>
  </div>
  <div class="accordion__element" data-accordion="element">
    <button class="accordion__button accordion__button btn btn--aquamarine" type="button" data-accordion="button">Открыть</button>
    <div class="accordion__content" data-accordion="content">
      <div class="accordion__wrapper">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eaque consequatur perspiciatis impedit ab aperiam neque corrupti nisi deleniti optio enim provident molestiae, quidem sint laboriosam reiciendis accusantium iusto distinctio!</p>
      </div>
    </div>
  </div>
  <div class="accordion__element" data-accordion="element">
    <button class="accordion__button btn btn--aquamarine" type="button" data-accordion="button">Открыть</button>
    <div class="accordion__content" data-accordion="content">
      <div class="accordion__wrapper">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eaque consequatur perspiciatis impedit ab aperiam neque corrupti nisi deleniti optio enim provident molestiae, quidem sint laboriosam reiciendis accusantium iusto distinctio!</p>
      </div>
    </div>
  </div>
  <div class="accordion__element" data-accordion="element">
    <button class="accordion__button btn btn--aquamarine" type="button" data-accordion="button">Открыть</button>
    <div class="accordion__content" data-accordion="content">
      <div class="accordion__wrapper">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eaque consequatur perspiciatis impedit ab aperiam neque corrupti nisi deleniti optio enim provident molestiae, quidem sint laboriosam reiciendis accusantium iusto distinctio!</p>
      </div>
    </div>
  </div>
</div>
