<h2 class="component__subtitle">Пример аккордеона с вложенностью</h2>
<div class="accordion-class" data-accordion="parent" data-type="single">
  <div class="accordion-class__element is-open" data-accordion="element">
    <button class="accordion-class__button btn" type="button" data-accordion="button">Открыть</button>
    <div data-accordion="content">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eaque consequatur perspiciatis impedit ab aperiam neque corrupti nisi deleniti optio enim provident molestiae, quidem sint laboriosam reiciendis accusantium iusto distinctio!</p>
    </div>
  </div>
  <div class="accordion-class__element" data-accordion="element">
    <button class="accordion-class__button accordion-class__button btn" type="button" data-accordion="button">Открыть</button>
    <div data-accordion="content">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eaque consequatur perspiciatis impedit ab aperiam neque corrupti nisi deleniti optio enim provident molestiae, quidem sint laboriosam reiciendis accusantium iusto distinctio!</p>
    </div>
  </div>
  <div class="accordion-class__element" data-accordion="element">
    <button class="accordion-class__button btn" type="button" data-accordion="button">Открыть</button>
    <div data-accordion="content">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eaque consequatur perspiciatis impedit ab aperiam neque corrupti nisi deleniti optio enim provident molestiae, quidem sint laboriosam reiciendis accusantium iusto distinctio!</p>
    </div>
  </div>
  <div class="accordion-class__element" data-accordion="element">
    <button class="accordion-class__button btn" type="button" data-accordion="button">Открыть</button>
    <div data-accordion="content">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eaque consequatur perspiciatis impedit ab aperiam neque corrupti nisi deleniti optio enim provident molestiae, quidem sint laboriosam reiciendis accusantium iusto distinctio!</p>
    </div>
  </div>
  <div class="accordion-class__element" data-accordion="element">
    <button class="accordion-class__button btn" type="button" data-accordion="button">Открыть</button>
    <div data-accordion="content">
      <div class="accordion-class" data-accordion="parent">
        <div class="accordion-class__element" data-accordion="element">
          <button class="accordion-class__button btn" type="button" data-accordion="button">Открыть</button>
          <div data-accordion="content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eaque consequatur perspiciatis impedit ab aperiam neque corrupti nisi deleniti optio enim provident molestiae, quidem sint laboriosam reiciendis accusantium iusto distinctio!</p>
          </div>
        </div>
        <div class="accordion-class__element" data-accordion="element">
          <button class="accordion-class__button btn" type="button" data-accordion="button">Открыть</button>
          <div data-accordion="content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eaque consequatur perspiciatis impedit ab aperiam neque corrupti nisi deleniti optio enim provident molestiae, quidem sint laboriosam reiciendis accusantium iusto distinctio!</p>
          </div>
        </div>
        <div class="accordion-class__element" data-accordion="element">
          <button class="accordion-class__button btn" type="button" data-accordion="button">Открыть</button>
          <div data-accordion="content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eaque consequatur perspiciatis impedit ab aperiam neque corrupti nisi deleniti optio enim provident molestiae, quidem sint laboriosam reiciendis accusantium iusto distinctio!</p>
          </div>
        </div>
        <div class="accordion-class__element" data-accordion="element">
          <button class="accordion-class__button btn" type="button" data-accordion="button">Открыть</button>
          <div data-accordion="content">
            <div class="accordion-class" data-accordion="parent">
              <div class="accordion-class__element" data-accordion="element">
                <button class="accordion-class__button btn" type="button" data-accordion="button">Открыть</button>
                <div data-accordion="content">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eaque consequatur perspiciatis impedit ab aperiam neque corrupti nisi deleniti optio enim provident molestiae, quidem sint laboriosam reiciendis accusantium iusto distinctio!</p>
                </div>
              </div>
              <div class="accordion-class__element" data-accordion="element">
                <button class="accordion-class__button btn" type="button" data-accordion="button">Открыть</button>
                <div data-accordion="content">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eaque consequatur perspiciatis impedit ab aperiam neque corrupti nisi deleniti optio enim provident molestiae, quidem sint laboriosam reiciendis accusantium iusto distinctio!</p>
                </div>
              </div>
              <div class="accordion-class__element" data-accordion="element">
                <button class="accordion-class__button btn" type="button" data-accordion="button">Открыть</button>
                <div class="div" data-accordion="content">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eaque consequatur perspiciatis impedit ab aperiam neque corrupti nisi deleniti optio enim provident molestiae, quidem sint laboriosam reiciendis accusantium iusto distinctio!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<h2 class="component__subtitle">Пример аккордеона без вложенности</h2>
<div class="accordion-class" data-accordion="parent">
  <div class="accordion-class__element" data-accordion="element">
    <button class="accordion-class__button btn" type="button" data-accordion="button">Открыть</button>
    <div data-accordion="content">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eaque consequatur perspiciatis impedit ab aperiam neque corrupti nisi deleniti optio enim provident molestiae, quidem sint laboriosam reiciendis accusantium iusto distinctio!</p>
    </div>
  </div>
  <div class="accordion-class__element" data-accordion="element">
    <button class="accordion-class__button accordion-class__button btn" type="button" data-accordion="button">Открыть</button>
    <div data-accordion="content">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eaque consequatur perspiciatis impedit ab aperiam neque corrupti nisi deleniti optio enim provident molestiae, quidem sint laboriosam reiciendis accusantium iusto distinctio!</p>
    </div>
  </div>
  <div class="accordion-class__element" data-accordion="element">
    <button class="accordion-class__button btn" type="button" data-accordion="button">Открыть</button>
    <div data-accordion="content">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eaque consequatur perspiciatis impedit ab aperiam neque corrupti nisi deleniti optio enim provident molestiae, quidem sint laboriosam reiciendis accusantium iusto distinctio!</p>
    </div>
  </div>
  <div class="accordion-class__element" data-accordion="element">
    <button class="accordion-class__button btn" type="button" data-accordion="button">Открыть</button>
    <div data-accordion="content">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eaque consequatur perspiciatis impedit ab aperiam neque corrupti nisi deleniti optio enim provident molestiae, quidem sint laboriosam reiciendis accusantium iusto distinctio!</p>
    </div>
  </div>
</div>
