section.component-description
  h2.subtitle Описание
  p
    | Аккордеоны полностью переписаны, сейчас используется делегирование
    em =>
    |  как следствие отсутствуют проблемы с динамическим добавлением элементов
    |
    em +
    |
    |  в классе дописаны методы которые помогут если трудности всё же возникнут, исключены все проблемы со вложенностью и анимациями.
  p
    | В файле init-accordion.js создаётся экземпляр класса Accordions который записывается в переменную accordion, им вы можете пользоваться по проекту при необходимости, так же он записывается в window.accordion.
    em Используйте в разработке экспортируемую переменную accordions, window сделан для бэкэнда
  p Аккордеоны состоят из следующих файлов: accordions.js, init-accordion.js и data-accordion.scss все файлы обязательны к переносу в проект! Файл accordion.scss добавлен только для стилизации, в нём вы можете менять всё что угодно
  p
    em accordions.updateAccordionsHeight(element = null)
    |  принимает елемент и апдейтит его высоту, если элемент не передан то произойдёт апдейт высоты всех открытых элементов
  p
    em accordions.fullUpdate(parent = null, transition = false)
    |  принимает родителя и булево значение, происходит полный апдейт, если во вложенных аккордеонах есть открытые элементы(is-active), то произойдет открытие всех вложенных элементов вверх до родителя. Если родитель не передан то апдейтятся все аккордеоны, если не передан второй параметр то апдейт присходит мгновенно без анимаций, что бы была анимация апдейта нужно вторым параметрам передать true.
    em Этот метод запускается при инициализации, так что будьте внимательны с теми местами где вы расставляете класс is-active
  p
    em accordions.openAccordion(element, transition = true)
    |  принимает элемент и булево значение, происходит открытие элемента. Передача элемента обязательна, по умолчанию анимация есть, что бы её убрать вторым параметром передаём false
  p
    em accordions.closeAccordion(element, transition = true)
    |  принимает элемент и булево значение, происходит закрытие элемента. Передача элемента обязательна, по умолчанию анимация есть, что бы её убрать вторым параметром передаём false
  p
    em accordions.closeAllAccordion(parent)
    |  принимает родителя и закрывает все элементы в нём
  h2.component__subtitle Обязательные data атрибуты
  p
    em data-accordion="parent"
    |  Устанавливается на родителе
  p
    em data-accordion="element"
    |  Устанавливается на элементе аккордеона
  p
    em data-accordion="button"
    |  Устанавливается на кнопке открытия
  p
    em data-accordion="content"
    |  Устанавливается на обёртке контента
  h2.component__subtitle Не обязательные data атрибуты
  p
    em data-destroy="(max-width: 767px)" или data-destroy="(min-width: 768px)"
    |  Устанавливается на родителе, в нём записывается медиа, при котором работает аккордеон
  p
    em data-single
    |  Устанавливается на родителе, отвечает за показ только одного открытого аккордеона в группе родителя
  h2.component__subtitle Не обязательные классы
  p
    em is-active
    |  Это класс который можно повесить на элемент аккордеона для его открытия при загрузке.
