section.component-description(data-tabs='element')
  p Аккордеоны полностью переписаны, сейчас используется делегирование как следствие отсутствуют проблемы с динамическим добавлением элементов + в классе дописаны методы которые помогут если трудности всё же возникнут, исключены все проблемы со вложенностью и анимациями.
  p В файле #[b init-accordion.js] создаётся экземпляр класса #[b Accordions] который записывается в переменную accordion, им вы можете пользоваться по проекту при необходимости, так же он записывается в #[b window.accordion].
  p #[b Используйте в разработке экспортируемую переменную accordions, window сделан для бэкэнда]
  p Аккордеоны состоят из следующих файлов: #[b accordions.js], #[b init-accordion.js] и #[b data-accordion.scss] все файлы обязательны к переносу в проект! Файл accordion.scss добавлен только для стилизации, в нём вы можете менять всё что угодно
  table
    tr
      th
        p accordions.updateAccordionsHeight(element = null)
      td
        p принимает элемент и апдейтит его высоту, если элемент не передан то произойдёт апдейт высоты всех открытых элементов
    tr
      th
        p accordions.fullUpdate(parent = null, transition = false)
      td
        p принимает родителя и булево значение, происходит полный апдейт, если во вложенных аккордеонах есть открытые элементы (is-active), то произойдет открытие всех вложенных элементов вверх до родителя. Если родитель не передан то апдейтятся все аккордеоны, если не передан второй параметр то апдейт присходит мгновенно без анимаций, что бы была анимация апдейта нужно вторым параметрам передать true.
        p Этот метод запускается при инициализации, так что будьте внимательны с теми местами где вы расставляете класс is-active
    tr
      th
        p accordions.openAccordion(element, transition = true)
      td
        p принимает элемент и булево значение, происходит открытие элемента. Передача элемента обязательна, по умолчанию анимация есть, что бы её убрать вторым параметром передаём false
    tr
      th
        p accordions.closeAccordion(element, transition = true)
      td
        p принимает элемент и булево значение, происходит закрытие элемента. Передача элемента обязательна, по умолчанию анимация есть, что бы её убрать вторым параметром передаём false
    tr
      th
        p accordions.closeAllAccordion(parent)
      td
        p принимает родителя и закрывает все элементы в нём
  h2.subtitle Обязательные data атрибуты
  table
    tr
      th
        p data-accordion="parent"
      td
        p Устанавливается на родителе
    tr
      th
        p data-accordion="element"
      td
        p Устанавливается на элементе аккордеона
    tr
      th
        p data-accordion="button"
      td
        p Устанавливается на кнопке открытия
    tr
      th
        p data-accordion="content"
      td
        p Устанавливается на обёртке контента
  h2.subtitle Не обязательные data атрибуты
  table
    tr
      th
        p data-destroy="(max-width: 767px)" или data-destroy="(min-width: 768px)"
      td
        p Устанавливается на родителе, в нём записывается медиа, при котором работает аккордеон
    tr
      th
        p data-single
      td
        p Устанавливается на родителе, отвечает за показ только одного открытого аккордеона в группе родителя
  h2.subtitle Не обязательные классы
  table
    tr
      th
        p is-active
      td
        p Это класс который можно повесить на элемент аккордеона для его открытия при загрузке.
