section.component-heading
  .component-heading__head
    h1.title Подсветка пунктов навигации при скроле
    .component-heading__tabs
      button.component-heading__tab-control(type='button', data-tabs='control') Описание
      button.component-heading__tab-control(type='button', data-tabs='control') Демо
  a.component-heading__download-link.btn(href="zip-components/navigation-changer.zip", download) Скачать компонент
