section.component-description(data-tabs='element')
  p Файл #[b navigation-changer.js] обязателен для переноса в&nbsp;проект, из&nbsp;него экспортируется класс #[b NavigationChanger].
    br
    | В&nbsp;main создаётся экземпляр класса и&nbsp;у&nbsp;него вызывается метод #[b init()].
  pre
    code.language-js.
      import {NavigationChanger} from '../components/navigation-changer/js/navigation-changer';
      const navigationChanger = new NavigationChanger();
      navigationChanger.init();

  h3 Обязательные дата атрибуты
  table
    tr
      th
        p data-navigation-link
      td
        p Добавляется к ссылке
  blockquote #[b Ссылки должны быть якорными.]
  pre
    code.language-html.
      &lt;a href="#section-1" class="navigation__link" data-navigation-link>Секция 1&lt;/a>
      &lt;section class="section-navigation" id="section-2">&lt;/section>
  p По умолчанию подключен MoveTo
