section.component-demo
  h2.subtitle Демо
  nav.navigation-changer
    ul.navigation-changer__list
      li.navigation-changer__item
        a.navigation-changer__link(href="#section-1", data-navigation-link) Секция 1
      li.navigation-changer__item
        a.navigation-changer__link(href="#section-2", data-navigation-link) Секция 2
      li.navigation-changer__item
        a.navigation-changer__link(href="#section-3", data-navigation-link) Секция 3
      li.navigation-changer__item
        a.navigation-changer__link(href="#section-4", data-navigation-link) Секция 4
      li.navigation-changer__item
        a.navigation-changer__link(href="#section-5", data-navigation-link) Секция 5
  section.section-navigation#section-1
    h2 Секция 1
  section.section-navigation#section-2
    h2 Секция 2
  section.section-navigation#section-3
    h2 Секция 3
  section.section-navigation#section-4
    h2 Секция 4
  section.section-navigation#section-5
    h2 Секция 5
