<nav class="navigation">
  <ul class="navigation__list">
    <li class="navigation__item">
      <a href="#section-1" class="navigation__link" data-navigation-link>Секция 1</a>
    </li>
    <li class="navigation__item">
      <a href="#section-2" class="navigation__link" data-navigation-link>Секция 2</a>
    </li>
    <li class="navigation__item">
      <a href="#section-3" class="navigation__link" data-navigation-link>Секция 3</a>
    </li>
    <li class="navigation__item">
      <a href="#section-4" class="navigation__link" data-navigation-link>Секция 4</a>
    </li>
    <li class="navigation__item">
      <a href="#section-5" class="navigation__link" data-navigation-link>Секция 5</a>
    </li>
  </ul>
</nav>
<section class="section-navigation" id="section-1">
  <h2>Секция 1</h2>
</section>
<section class="section-navigation" id="section-2">
  <h2>Секция 2</h2>
</section>
<section class="section-navigation" id="section-3">
  <h2>Секция 3</h2>
</section>
<section class="section-navigation" id="section-4">
  <h2>Секция 4</h2>
</section>
<section class="section-navigation" id="section-5">
  <h2>Секция 5</h2>
</section>
