section.component-demo
  h2.subtitle Демо
  .cookies(data-cookies, data-cookies-duration='30')
    .cookies__text
      span Мы используем куки
    button.cookies__btn(type='button', data-cookies-consent) OK
