section.component-description(data-tabs='element')
  h3 Бегущаяя строка
  .marquee
    .marquee__text-wrapper
      .marquee__text Пример бегущей строки
    .marquee__text-wrapper
      .marquee__text Пример бегущей строки
  .marquee
    .marquee__text-wrapper.marquee__text-wrapper--reverse
      .marquee__text.marquee__text--reverse Пример бегущей строки наоборот
    .marquee__text-wrapper.marquee__text-wrapper--reverse
      .marquee__text.marquee__text--reverse Пример бегущей строки наоборот


