section.component-heading.component-heading--not-demo
  .component-heading__head
    h2.title Шаблонизатор PUG
  +article-menu({
    firstPoint: "Введение",
    links: [
      {
        href: "#introduction",
        text: "Введение"
      },
      {
        href: "#what",
        text: "Что такое PUG?"
      },
      {
        href: "#problems",
        text: "Проблемы"
      },
      {
        href: "#syntax",
        text: "Синтаксис Pug"
      },
      {
        href: "#pugjs",
        text: "JavaScript в PUG"
      },
      {
        href: "#mixin",
        text: "Миксины в PUG"
      },
      {
        href: "#build",
        text: "Сборка Лиги А"
      },
    ]
  })
