section.component-demo(data-tabs='element')
  form(action="#")
    .auto-resize-textarea
      textarea(name="example", rows="1", aria-label="textarea")
    .auto-resize-textarea
      textarea(name="example", aria-label="textarea") Lorem ipsum dolor sit amet consectetur adipisicing elit.
    .auto-resize-textarea
      textarea(name="example", rows="5", aria-label="textarea")
