section.component-description
  h2.subtitle Описание
  p Высота подстраивается под контент, но с учетом атрибута rows. Rows задает минимальную высоту, которую скрипт не переопределяет. Отсутствие атрибута rows === rows="2".
  p В большинстве случаев вам понадобится rows="1".
  p
    em Если вы изменяете value у textarea через js - нужно повторно вызвать resizeHeight(el).
  h2 Интересная деталь
  .component__code-snippet
    pre
      code.
        let realscrollHeight = el.scrollHeight;

        if (!el.value) {
          el.value = 0;
          realscrollHeight = el.scrollHeight;
          el.value = '';
        }

  p Данный участок кода фиксит баг\особенность firefox\ie. В этих браузерах при отсутствующем value scrollHeight у textarea ~ на 5% меньше чем при наличии value. Возможно такое можно встретить не только у textarea.
