section.component-description(data-tabs='element')
  p Курсор состоит из следующих файлов: simple-cursor.scss, simple-cursor.js, они обязательны к переносу в проект!
  p На странице, на которой будет использоваться курсор, в разметку нужно добавить:
  pre
    |
    code(class="language-html").
      &lt;div class="simple-cursor is-hidden" data-cursor>
        &lt;span></span>
      &lt;/div>
