section.component-description(data-tabs='element')
  p В данной реализации используется нативный селект, что решает массу проблем, которые были с инпутом.
  p Базовая структура селекта — это #[b div] в который вложен "лейбл", сообщение об ошибке, кнопка в которую вложен span под текст и span под иконку и список с элементами для выбора. Это базовая структура которая обязательна для соблюдению, исключением являются поля с лейблом, плейсхолдером и ошибкой! Всё остальное формируется на js.
  pre
    |
    code(class="language-html").
      &lt;div class="select" data-select>
        &lt;span class="select__label">label-1&lt;/span>
        &lt;span class="select__error">some-error&lt;/span>
        &lt;span class="select__placeholder">some-placeholder&lt;/span>
        &lt;button class="select__button" type="button" aria-label="Выберите одну из опций">
          &lt;span class="select__text">&lt;/span>
          &lt;span class="select__icon">&lt;/span>
        &lt;/button>
        &lt;ul class="select__list">
          &lt;li class="select__item" tabindex="0" data-select-value="id-1">example-1&lt;/li>
          &lt;li class="select__item" tabindex="0" data-select-value="id-2">example-2&lt;/li>
          &lt;li class="select__item" tabindex="0" data-select-value="id-3">example-3&lt;/li>
          &lt;li class="select__item" tabindex="0" data-select-value="id-4">example-4&lt;/li>
          &lt;li class="select__item" tabindex="0" data-select-value="id-5">example-5&lt;/li>
          &lt;li class="select__item" tabindex="0" data-select-value="id-6">example-6&lt;/li>
        &lt;/ul>
      &lt;/div>

  p Для того что бы селект был не активен, если используется миксин нужно передать параметр #[b disabled: true], если используется html то на кнопку достаточно повесить атрибут #[b disabled]
  h3 #[b Дополнительные data атрибуты которые прописываются непосредственно в родительском div:]
  table
    tr
      th
        p data-name="name-example"
      td
        p Устанавливает #[b name] нативному селекту
    tr
      th
        p data-id="id-example"
      td
        p Устанавливает id нативному селекту
    tr
      th
        p data-required="true"
      td
        p Устанавливает обязательное заполнение данного поля формы
    tr
      th
        p data-multiple="true"
      td
        p Устанавливает multiple выбор селекту
    tr
      th
        p data-insert="true"
      td
        p Отвечает за вставку выбранных опций в кнопку
  p Если нужно что бы один из пунктов был выбран по умолчанию достаточно просто добавить класс #[b active] к классу #[b select__item] #[b class="select__item active"]. Для мультиселекта можно выбирать любое количество пунктов. Если в обычном селекте по ошибке будет выбранно несколько пунктов то все классы active будут удалены со всех элементов кроме первого.
  p Если селект расположен в самом низу страницы или в низу модального окна повести на родителя класс #[b "open-up"]. С этим классом селект будет открываться на верх. Реализовыать расчёт положения на js, не имеет смысла, так как селект может находится и в модалке, класс у которой может быть любой, как следствие проблемы с нахождением родителя относительно которого нужно расчитывать положение.
  h3 Инициализация
  p В #[b main.js] импортируйте #[b import './modules/select';]
  p Для повторной инициализации при динамическом добавлении без перезагрузки страницы нужно вызывать функцию #[b window.selectInit();] Инициализироваться будут только новые селекты.
  h3 Дополнительные data атрибуты которые прописываются на элементе списка:
  table
    tr
      th
        p data-select-value="id-1"
      td
        p Устанавливает value опции нативного селекта
