<div class="custom-input  custom-input--select">
  <label for="demo">Какой-то лейбл</label>
  <div class="custom-input__wrapper">
    <!-- замените на svg из спрайта -->
    <svg class="custom-input__dropdown-icon" width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M7.99967 9.19164L0.458008 1.64998L1.63301 0.474976L7.99967 6.83331L14.3663 0.474976L15.5413 1.64998L7.99967 9.19164Z"/>
    </svg>
    <input type="text" id="demo" name="demo" placeholder="Выберите из списка" readonly>
    <ul class="custom-input__select-list">
      <li class="custom-input__select-item" tabindex="0">Пункт 1</li>
      <li class="custom-input__select-item" tabindex="0">Пункт 2</li>
      <li class="custom-input__select-item" tabindex="0">Пункт 3</li>
    </ul>
  </div>
  <p class="custom-input__error">Выберите пункт из списка</p>
</div>
