//- Base

include ./base/header
include ./base/footer
include ./base/modal

//- Utils

include ./utils/icon
include ./utils/img
include ./utils/picture
include ./utils/sprite

//- Modals

include ./modals/modal-feedback
include ./modals/modal-success

//- Blocks

include ./blocks/intro
include ./blocks/site-navigation
include ./blocks/last-added
include ./blocks/achievements
include ./blocks/about
include ./blocks/intro-heading
include ./blocks/components-nav
include ./blocks/search
include ./blocks/content
include ./blocks/hero
include ./blocks/breadcrumbs
include ./blocks/navbar
include ./blocks/components
include ./blocks/guides
include ./blocks/up-button
include ./blocks/navbar-button
include ./blocks/article-menu


//- Mixins

include ./mixins/btn
include ./mixins/logo
include ./mixins/git-link
//- include ./mixins/custom-input
//- include ./mixins/custom-select
//- include ./mixins/custom-textarea
//- include ./mixins/custom-toggle

//- components

include ../../components/auto-resize-textarea/auto-resize-textarea-component
include ../../components/phone-mask/phone-mask-component
include ../../components/send-mail/send-mail-component
include ../../components/ie-support/ie-support-component
include ../../components/navigation-changer/navigation-changer-component
include ../../components/custom-select/custom-select-component
include ../../components/scroll-translator/scroll-translator-component
include ../../components/incline-word/incline-word-component
include ../../components/scroll-lock/scroll-lock-component
include ../../components/focus-lock/focus-lock-component
include ../../components/modals/modals-component
include ../../components/cookies/cookies-component
include ../../components/accordion/accordion-component
include ../../components/tabs/tabs-component
include ../../components/form-validate/form-validate-component
include ../../components/inline-video/inline-video-component
include ../../components/dynamic-adaptive/dynamic-adaptive-component
include ../../components/adaptive-runner/adaptive-runner-component
include ../../components/simple-cursor/simple-cursor-component
include ../../components/marquee/marquee-component

//- guides
include ../../guides/scaling/scaling-guide
include ../../guides/pug/pug-guide
