section.component-description(data-tabs='element')
  p При инициализации компонент создает в родительском контейнере структуру для нашего бегунка.
  code
    pre
      |&lt;div class="adaptive-runner" data-adaptive-runner="runner"&gt;
      |   &lt;div class="adaptive-runner__inner"&gt;&lt;/div&gt;
      |&lt;/div&gt;
      |
  p Этого должно быть достаточно для простой стилизации. Если в вашем случае будет что-то сложнее, можете дополнить разметку в #[b init-adaptive-runner.js] в функции #[b templateRunner].
  p Компонент состоит из следующих файлов: #[b adaptive-runner.js, init-adaptive-runner.js], все файлы обязательны к переносу в проект! Файл #[b adaptive-runner.scss] добавлен только для стилизации, в нём вы можете менять всё, что угодно (ознакомьтесь с комментариями внутри файла, а после "сожгите")
  p Это решение адаптировано для наших табов, но вы можете использовать его и вне их компонента, если это будет необходимо. Только в этом случае вам нужно будет самолично написать дополнительный скрипт, который будет добавлять состояние #[b .is-active] для выбранного элемента.
  h2.subtitle Обязательные data атрибуты
  table
    tr
      th
        p data-adaptive-runner="track"
      td
        p Устанавливается на родителе контролов
    tr
      th
        p data-adaptive-runner="checkpoint"
      td
        p Устанавливается на контроле (кнопке, ссылке и тд)
