section.component-description(data-tabs='element')
  p #[b Данный компонент работает в ios начиная с версии 14.1]
  p Все файлы необходимые для корректной работы input file представлены в архиве.
  p Стили сделаны исключительно для примера, на ваших проектах вы можите стилизовать компонент в соответствии с макетом.
  p Для инициализации input file вам нужно создать экземпляр класса Upload, в который вы передаёте первым аргументом дом элемент, а вторым обьект с настройками.
  p Пример: #[b const uploadFile = () => new Upload(uploadFileBlock, {options})].
  p Настройки:
  p #[b uploadLength: number] - максимальное количество загружаемых файлов. При количестве большем или равном двум к инпуту добавляется аттрибут multiple.
  p #[b accept: ['.pdf', '.docx', '.xlsx']] - допустимые для загрузки расширения файлов. Если данное поле отсутствует, то можно будет загрузить любой файл.
  p #[b maxFullSize: размер в байтах] - максимально допустимый общий размер файлов.
  p #[b maxFileSize: размер в байтах] - максимально допустимый размер файла.
  p #[b preview: булево значение] - отвечает за показ превью загруженных файлов. Рендерится на js.
  p #[b previewImg: булево значение] - отвечает за показ миниатюры картинки, в случае загрузки изображений. Рендерится на js.
  p #[b fileInfo: {fileName: булево значение, fileSize: булево значение}] - обьект с двумя полями, отвечающий за показ информации о файле. Рендерится на js.
  p #[b iconFormat: {}] - обьект в котором по ключам лежат пути к иконкам с форматом загруженного файла (png: './img/file/icon-file-png.png').
  p #[b emptyMessage: сообщение] - сообщение об ошибке при пустом инпуте.
  p #[b errorMessage: сообщение] - сообщение об ошибке в загруженных файлах.
  p Данный компонент интегрирован с валидацией Лиги.
